*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  width: 18%;
}

.menu {
  padding: 5px;

  background-color: #f5f5ff3b;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Noto Serif', serif; */
  /* font-family: 'Cabin', sans-serif; */
  font-family: "Raleway", sans-serif;
}

.titulos {
  font-weight: 700;
  font-size: 33px;
  margin-left: 40px;
  font-family: "Merriweather", serif;
}

.nav-link {
  color: #e3e4e6;
  margin-left: 10px;
}

.btn {
  color: white;
  background-color: rgb(94, 72, 12);
  position: relative;
  top: -150px;
  right: 100px;
  /*left: 1000px; */
}
